<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "Ошибка") %> пользователь не сохранён:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label(:Имя, class: "label") %><br>
    <%= form.text_field(:name, class: "num") %>
  </div>

  <div class="field">
    <%= form.label(:Пароль, class: "label") %><br>
    <%= form.password_field(:password, class: "num") %>
  </div>

  <div class="field">
    <%= form.label(:"Подтвердите пароль", class: "label") %><br>
    <%= form.password_field(:password_confirmation, class: "num") %>
  </div>

  <div class="actions">
    <%= form.submit(:"Создать", class: "submit") %>
  </div>
<% end %>
